

<div *ngIf="loginDisplay">
    <mat-card>
        <mat-card-content>
            <div class="center">
                <h1 *ngIf="!loginDisplay" class="center" style="color:red">
                    Inicia sesión para ver la información de tu perfil.
                </h1>

                <h1 class="center" style="color:blue">
                    Inicio de sesión exitosa
                </h1>
                <p class="center" >Solicite la información de su perfil haciendo clic en Perfil arriba.</p>

            </div>
        </mat-card-content>
    </mat-card>

</div>